main {
  min-height: 80vh;
}

.ml-auto {
  margin-left: auto;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}


h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-top-point5rem {
  margin-top: 0.5rem;
}

.margin-top-1point5rem {
  margin-top: 1.5rem;
}

.text-decoration-line-none {
  text-decoration-line: none;
}